section{border: solid; 
    color: black; 
    max-width: fit-content;background-color: teal;}
header{font-size: x-large; font-style: oblique;}
h1{color: blueviolet;}

img{border: solid; color: brown;}